.pio/
.vscode/
build/
dist/
*.o
*.a
*.so
*.dylib
*.exe
*.dll
*.lib
.DS_Store
*.swp
*.swo
*~
.clang_complete
.gcc-flags.json
.idea/
*.iml
.build/
.cache/
.project
.pydevproject
.settings/
*.sublime-project
*.sublime-workspace
